<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FavoriteActors3.2GZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06741C161CD149D100D82C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06741C2D1CD149D100D82C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06741C381CD149D100D82C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
